@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     line-height: 1.5;
     background: #f1f5f9;
     font-family: "Poppins", sans-serif;
}
.toggle_container{
     position: relative;
     width: 100%;
     /* background-color: red; */
}
.toggle_btn{
      position: absolute;
      right: 0;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 2rem;
      margin: 1rem;
      animation: bounce 3s infinite linear;
}

@keyframes bounce {
      0%{
          transform: scale(1);
      }   
      50%{
          transform: scale(1.5);
      }
      100%{
        transform: scale(1);
      }
}
.sidebar{
     position: fixed;
     top: 0;
     left: 0%;
     height: 100%;
     background-color: #fff;
     width: 400px;
     display: grid;
     overflow: hidden;
     grid-template-rows: auto 1fr auto;
     /* padding: 10px; */
     transform: translate(-100%);
     transition: all 0.3s linear;
     box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}
.show-sidebar{
     transform: translate(0%);
}
.sidebar-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 14px;
}
h1{
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 16px;   
}
.coding{
     text-shadow: 2px 2px 5px #000;
}
.addict{
     text-shadow: 2px 3px 5px #000;
     color: #2c8dd8;
}
.close_btn{
    border: none;
    background: none;
    color: #B61919;
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 1s linear;
}
.close_btn:hover{
      transform: rotate(360deg);
}
.links{
     padding: 12px 0px;
}
.links a{
     display: block;
     text-decoration: none;
     color: #738EA6;
     padding: 14px 14px;
}

.social-links{
    margin-bottom: 2rem;
   display: flex;
   justify-self: center;
}
.social-links a{
      color: #000;
      display: inline-block;
      padding: 0.5rem 0.5rem;
      font-size: 18px;
      transition: all 0.3s linear;
}
.social-links a:hover{
       opacity: 0.7;
}